 [Desktop Entry]
Name=Foehn
X-KDE-PluginInfo-Name=Foehn
X-KDE-PluginInfo-Author=caesium
X-KDE-PluginInfo-Website=https://alpha.wallhaven.cc/user/caesium
X-KDE-PluginInfo-License=CC-BY

