[Desktop Entry]
Name=Litho_Flowers
X-KDE-PluginInfo-Name=Litho_Flowers
X-KDE-PluginInfo-Author=gutterslob
X-KDE-PluginInfo-Email=demm@kaosx.us
X-KDE-PluginInfo-License=CC-BY
