[Desktop Entry]
Name=Abstract
X-KDE-PluginInfo-Name=Abstract
X-KDE-PluginInfo-Author=Romanowsky
X-KDE-PluginInfo-URL=http://romanowsky.tumblr.com/
X-KDE-PluginInfo-License=CC-BY
