 [Desktop Entry]
Name=Ether
X-KDE-PluginInfo-Name=Ether
X-KDE-PluginInfo-Author=aggie386
X-KDE-PluginInfo-Website=https://alpha.wallhaven.cc/user/oogie386
X-KDE-PluginInfo-License=CC-BY

