 [Desktop Entry]
Name=Nebula
X-KDE-PluginInfo-Name=Nebula
X-KDE-PluginInfo-Author=ageme
X-KDE-PluginInfo-Website=https://alpha.wallhaven.cc/user/ageme
X-KDE-PluginInfo-License=CC-BY

