 [Desktop Entry]
Name=Utopic_City
X-KDE-PluginInfo-Name=Utopic_City
X-KDE-PluginInfo-Author=FuriouZ
X-KDE-PluginInfo-Website=https://alpha.wallhaven.cc/user/FuriouZ
X-KDE-PluginInfo-License=LGPLv3

