[Desktop Entry]
Name=You_Can_Fly
X-KDE-PluginInfo-Name=You_Can_Fly
X-KDE-PluginInfo-Author=Lodbrok
X-KDE-PluginInfo-Website=https://alpha.wallhaven.cc/user/Lodbrok
X-KDE-PluginInfo-License=CC-BY
