[Desktop Entry]
Name=Sunrise
X-KDE-PluginInfo-Name=Sunrise
X-KDE-PluginInfo-Author=dilv126
X-KDE-PluginInfo-Website=https://alpha.wallhaven.cc/user/dilv126
X-KDE-PluginInfo-License=LGPLv3
