 [Desktop Entry]
Name=Calm_Reflection
X-KDE-PluginInfo-Name=Calm_Reflection
X-KDE-PluginInfo-Author=Pablo Díaz
X-KDE-PluginInfo-Website=http://reznorix.crevado.com/
X-KDE-PluginInfo-License=CC-BY

