 [Desktop Entry]
Name=Tulips
X-KDE-PluginInfo-Name=Tulips
X-KDE-PluginInfo-Author=benster
X-KDE-PluginInfo-Website=https://alpha.wallhaven.cc/user/benster
X-KDE-PluginInfo-License=CC-BY

