 [Desktop Entry]
Name=Chicago_City
X-KDE-PluginInfo-Name=Chicago_City
X-KDE-PluginInfo-Author=skyliner
X-KDE-PluginInfo-Website=https://alpha.wallhaven.cc/user/skyliner
X-KDE-PluginInfo-License=CC-BY

