[Desktop Entry]
Name=Grey_Order
X-KDE-PluginInfo-Name=Grey Order
X-KDE-PluginInfo-Author=Pablo Díaz
X-KDE-PluginInfo-Email=reznorix@yahoo.es
X-KDE-PluginInfo-License=CC-BY
