[Desktop Entry]
Name=Blue
X-KDE-PluginInfo-Name=Blue
X-KDE-PluginInfo-Author=madkads
X-KDE-PluginInfo-Website=https://alpha.wallhaven.cc/user/madkads
X-KDE-PluginInfo-License=LGPLv3
 
