 [Desktop Entry]
Name=Over_The_Sea
X-KDE-PluginInfo-Name=Over_The_Sea
X-KDE-PluginInfo-Author=herroyuy
X-KDE-PluginInfo-Website=https://alpha.wallhaven.cc/user/herroyuy
X-KDE-PluginInfo-License=CC-BY

