[Desktop Entry]
Name=Pexly
X-KDE-PluginInfo-Name=Pexly
X-KDE-PluginInfo-Author=SapphireGD
X-KDE-PluginInfo-URL=http://www.sapphiregd.com/2014/02/wallpaper-pexly/
X-KDE-PluginInfo-License=cc-by-nc-nd-3.0
