[Desktop Entry]
Name=Red_Button
X-KDE-PluginInfo-Name=Red_Buttom
X-KDE-PluginInfo-Author=MM88
X-KDE-PluginInfo-Website=https://alpha.wallhaven.cc/user/MM88
X-KDE-PluginInfo-License=CC-BY
