 [Desktop Entry]
Name=Grass
X-KDE-PluginInfo-Name=Grass
X-KDE-PluginInfo-Author=Gandalf
X-KDE-PluginInfo-Website=https://alpha.wallhaven.cc/user/Gandalf
X-KDE-PluginInfo-License=CC-BY

