 [Desktop Entry]
Name=Lake
X-KDE-PluginInfo-Name=Lake
X-KDE-PluginInfo-Author=Corgen
X-KDE-PluginInfo-Website=https://alpha.wallhaven.cc/user/Corgen
X-KDE-PluginInfo-License=CC-BY

