 [Desktop Entry]
Name=Free_Yourself
X-KDE-PluginInfo-Name=Free_Yourself
X-KDE-PluginInfo-Author=Visualillusion
X-KDE-PluginInfo-Website=https://alpha.wallhaven.cc/user/Visualillusion
X-KDE-PluginInfo-License=CC-BY

